/*
 * Reboot
 */

$font-family-base: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: .9rem;

$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 15px;
$h6-font-size: 12px;


/*
 * Tables
 */
$table-cell-padding-x: 1.5rem;
$table-cell-padding-y: .85rem;
$table-group-separator-color: transparent;
$table-th-font-weight: 500;
$table-head-bg: #f2f6fa;
$table-head-color: #8996A2;
$table-border-color: #f1f1f3;
$table-cell-vertical-align: middle;